html,body {
  height: 100%;
  /* background-color: #1A1A1D; */
  background-color: 	#F4F4F4;
}
.App {
  /* text-align: center; */
  /* background-color: #282c34; */
  
  height: 100%;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.center-align{
  text-align: center;
}

.inline-style{
  display: inline-block;
}

.slider-margin {
  margin-left: 10px;
  margin-right: 10px;
}

.svg{
  display: flex;
  justify-content: center;
  align-items: center;
}

.selectbox-container {
  display: flex;
}

.space {
  height: 5px;
}

.header-row{
  background-color: yellowgreen;
  border-color: black;
  font-size: small;
  font-weight: bold;
  width: 75px
}


.odd{
  background-color: azure;
  border-color: black;
  font-size: smaller;
}

.even{
  background-color: wheat;
  border-color: black;
  font-size: smaller;
}

.scrollable-table{
  overflow-y: scroll;
  height:350px;
  display:block
}

.display-flex{
  display: flex;
}

.clean-display-flex {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%
}

.table{
  display: table;
  width: 100%
}

.display-flex-col {
      display: flex;
      flex-direction: column;
}

.display-flex-col .row{
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      height: 50%
  }

  .display-flex-col .item-1 .item-2 .item-3{
    width: 50%;
    height: 100%;
    border-right: 4px solid black;
    border-bottom: 4px solid black;
  }

  .display-flex-col .viz-container{
    width:100%;
    height: 80vh;
  }

  .loader-style {
    display: flex;
    text-align: center;
    justify-content: center;
    height: 100%
  }
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
