.axis text {
    font: 10px sans-serif;
}

.axis line, .axis path {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.legend {
    display:inline-block
}

.canvas{
    display:inline-block; 
    float:left;
}