.display-flex{
    display: flex;
    height: inherit
  }
  
  .display-none {
    display: none;
  }

.add-button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100% ;
  }

.add-button-style {
  background-color:rgb(90, 137, 168);
  border: none;
  color: white;
  /* padding: 15px 32px; */
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 10px;
}

  .range-slider {
    width: 50%;
    display: block;
    align-items: center;
    justify-content: center;
    margin-top: 14px;
    margin-left: auto;
    margin-right: auto
  }