.display-flex{
    display: flex;
    height: inherit
  }
  
  .display-none {
    display: none;
  }

.add-button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100% ;
  }

  .range-slider {
    width: fit-content;
    display: inline-block;
    align-items: center;
    justify-content: center;
  }