.Upload-button {

    justify-content: top;
    align-items: top;
    text-align: center;
    min-height: 100vh;
}
.input-button{
    position: relative;
    left: 40px;
    
}
.submit-button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px 10px;
    cursor: pointer;
  }

  .container {
    height: 80vh; /* Magic here */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vh;
  }